body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}

.song-list {
  padding: 20px;
  margin-bottom: 20px;
}
.song-list ul {
  padding: 0;
  list-style-type: none;
}
.song-list h3 {
  margin-bottom: 0px;
}
.song-list li {
  margin: 10px auto;
  border-radius: 10px;
}